body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FFE1FF; /* Light background color */
    font-family: Arial, sans-serif;
}

.calculator {
    background-color: #E4B1F0; /* Calculator background color */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#display {
    width: 100%;
    height: 40px;
    text-align: right;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 24px;
    margin-bottom: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #E4B1F0; /* Button background color */
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #D09EDB; /* Darker shade on hover */
}